/*<meta />*/

main
{
	display: flex;
	flex-direction: column;
	padding: 1em;
	align-items: center;
}

.table-wrapper
{
	overflow: auto;
	max-width: 100%;
	background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(
      farthest-side at 0% 50%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ), radial-gradient(
        farthest-side at 100% 50%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      ) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
	background-position: 0 0, 100%, 0 0, 100%;
	background-attachment: local, local, scroll, scroll;
}

tr
{
	border-bottom: 1px solid;
}

th
{
	background-color: #555;
	color: #fff;
	white-space: nowrap;
	cursor: pointer;
}

th,
td
{
	text-align: left;
	padding: 0.5em 1em;
}

input[type=search]
{
	border: 1px solid;
	font-size: initial;
	margin-bottom: 1em;
	padding: 0.25em;
}

.hidden
{
	display: none;
}

p
{
	color: #000000;
	font-family: Calibri;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	border-top: solid 1px #0336ff;
	border-bottom: solid 1px #0336ff;
	padding: 4pt;
	margin: 0px 0px 20pt 1in;
	width: 100%;
}

